<script type="text/javascript" src="~/js/peer.js"></script>
<script type="text/javascript" src="~/js/Videochat_init.js"></script>
<div id="chatinstructions" class="row">
    <div class="col-md-10">
        <h3>Allow or Share access to your computers camera and microphone</h3>
        <p>Click the button at the top of your browser</p>
        <p>Here are some examples of what you might be seeing</p>
    </div>
</div>
<div id="chatvideo" class="row">
    <div class="col-md-6">
        <video id="their-video" autoplay></video>
    </div>
    <div class="col-md-4">
        <video id="my-video" muted="true" autoplay></video>
    </div>
</div>
<!-- Steps -->
<div id="chatinfo" class="row">
    <div class="col-md-4">
        <h4>Your contacts:</h4>
        <select class="form-control">
        </select>
        <p>Your id: <span id="my-id">...</span></p>
        <p>Share this id with others so they can join you.</p>
    </div>
</div>
<div id="chatcontrol" class="row">
    <!-- Call in progress -->
    <div class="col-md-4">
        <p>Currently in call with <span id="their-id">...</span></p>
        <p><a class="btn btn-xs btn-danger" role="button" href="#" id="end-call">End call</a></p>
    </div>
</div>