@{
    ViewData["Title"] = "Over ons";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Videophone is een website die het videobellen makkelijk maakt voor iedereen. Dit is een testversie, als je de website wilt uitproberen, maak dan een account aan en test de website!</p>
