@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>VideoPhone</h1>
    <p>Videochat service that requires no software, and is easy to use. (and still in development...)</p>
    <a href="https://www.herreweb.nl/api/videochat/start_chat">Try it out now!</a>
</div>
